<div class="container">
  <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Technolgy
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Technological Conception</a></li>
              <li><a class="dropdown-item" href="#">Project Analysis and Management</a></li>
              <li><a class="dropdown-item" href="#">Software Development</a></li>
              <li><a class="dropdown-item" href="#">Systems Deployment</a></li>
              <li><a class="dropdown-item" href="#">Product Release</a></li>
              <li><a class="dropdown-item" href="#">Software Operation and Maintenence</a></li>
              <li><a class="dropdown-item" href="#">Application Monitoring</a></li>
              <li><a class="dropdown-item" href="#">IT Infrastructure</a></li>
              <li><a class="dropdown-item" href="#">Archtetural Migration</a></li>
              <li><a class="dropdown-item" href="#">Digital Exchange</a></li>
              <li><a class="dropdown-item" href="#">IT World Trends</a></li>
              <li><a class="dropdown-item" href="#">Community and Events</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Economics
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Companies and Startups</a></li>
              <li><a class="dropdown-item" href="#">Market Changes</a></li>
              <li><a class="dropdown-item" href="#">Products and Releases</a></li>
              <li><a class="dropdown-item" href="#">IT Economic Trends</a></li>
              <li><a class="dropdown-item" href="#">IT Labor Market </a></li>
              <li><a class="dropdown-item" href="#">Tech Government</a></li>
              <li><a class="dropdown-item" href="#">Banking and Financial Markets</a></li>
              <li><a class="dropdown-item" href="#">Health Care and Life</a></li>
              <li><a class="dropdown-item" href="#">IT Monetary Economy</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Politics
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Tech Government</a></li>
              <li><a class="dropdown-item" href="#">Data and Sytems Security </a></li>
              <li><a class="dropdown-item" href="#">Health Care and Life</a></li>
              <li><a class="dropdown-item" href="#">Social Changes for 21st Century</a></li>
              <li><a class="dropdown-item" href="#">Tech Wars and Conflicts</a></li>
              <li><a class="dropdown-item" href="#">Homeland Security</a></li>
              <li><a class="dropdown-item" href="#">Political Advantages</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">News</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Keywords</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Publishers</a></li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
      </div>
  </nav>
</div>