
  <nav class="px-3 navbar navbar-expand-lg sticky-top bg-white border-bottom mb-2">
  <a class="navbar-brand" href="#"><i class="fa-solid fa-blog"></i></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Technolgy
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-brain"></i> Technological Conception</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-sitemap"></i> Project Analysis and Management</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-code"></i> Software Development</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-right-left"></i> Systems Deployment</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-copyright"></i> Product Release</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-bug"></i> Software Operation and Maintenence</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-folder-open"></i> IT Documentation</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-desktop"></i> Application Monitoring</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-user-secret"></i> Systems and Application Security</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-computer"></i> IT Infrastructure</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-rotate"></i> Archtetural Migration and Integration</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-microchip"></i> Digital Exchange</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-arrow-trend-up"></i> IT World Trends</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-calendar-days"></i> Community and Events</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Economics
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-building"></i> Companies and Startups</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-shop"></i> Market Changes</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-rocket"></i> Products and Releases</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-hand-holding-dollar"></i> IT Economic Trends</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-briefcase"></i> IT Labor Market </a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-piggy-bank"></i> Banking and Financial Markets</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-notes-medical"></i> Health Care and Life</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-coins"></i> IT Monetary Economy</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Politics
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-scale-balanced"></i> Tech Government</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-database"></i> Data and Sytems Security </a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-people-roof"></i> Health Care and Life</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-thumbs-up"></i> Social Changes for 21st Century</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-robot"></i> Tech Wars and Conflicts</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-flag"></i> Homeland Security</a></li>
          <li><a class="dropdown-item" href="#"><i class="me-2 fa-solid fa-landmark"></i> Political Advantages</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">News</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Keywords</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Publishers</a></li>
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control rounded-0 rounded-start " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark rounded-0 rounded-end" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</nav>