<aside class="card w-100 mb-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkcXfUMNwesmyZR1HSU2ky6LTP4rNsR8Z1BA&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vinicius de Moraes Pacheco</h5>
      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <a href="#" class="btn d-block btn-dark"><i class="fa-solid fa-file-import"></i> View Profile</a>
    </div>
</aside>