<h3 class="fs-5">Related Articles</h3>
<div class="mb-4">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#"><i class="fa-solid fa-arrow-right"></i> 7 Key Questions to Ask when Architecting a Multicloud Network</a></li>
        <li class="nav-item"><a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#"><i class="fa-solid fa-arrow-right"></i> What is Cloud Computing and how that technology will changes the humankind</a></li>
        <li class="nav-item"><a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#"><i class="fa-solid fa-arrow-right"></i> O que é IA Generativa? GPT, ChatGPT e Midjourney | Alura</a></li>
    </ul>
</div>