<h3 class="fs-5">Reference</h3>
<div class="">
    <p class="mb-4">BJORNENAK, T. (2000). Understanding cost differences in the public sector—a cost drivers approach. Management accounting research, 11(2), 193-211.Brandão, I. F. (2022). Modelo conceitual de sistema de informação de custos aplicado ao setor público brasileiro. Pensar Contábil, 24(84), 41-50.
    <br><br>
    BJORNENAK, T. (2000). Understanding cost differences in the public sector—a cost drivers approach. Management accounting research, 11(2), 193-211.Brandão, I. F. (2022). Modelo conceitual de sistema de informação de custos aplicado ao setor público brasileiro. Pensar Contábil, 24(84), 41-50.
    <br><br>
    BJORNENAK, T. (2000). Understanding cost differences in the public sector—a cost drivers approach. Management accounting research, 11(2), 193-211.Brandão, I. F. (2022). Modelo conceitual de sistema de informação de custos aplicado ao setor público brasileiro. Pensar Contábil, 24(84), 41-50.
    </p>
</div>