<h3 class="fs-5">Authors Resume</h3>
            <div class="my-4 d-flex">
                <img style="width: 9%; height: 9%;" class="img-fluid avatar avatar-md rounded-circle float-start me-3" src="https://hips.hearstapps.com/hmg-prod/images/matthew-mcconaughey-on-tuesday-september-12-2023-news-photo-1700243243.jpg?crop=0.513xw:0.769xh;0.152xw,0.0337xh&resize=1200:*" alt="avatar">
                <div>
                    <div class="mb-2">
                        <h5 class="m-0">Vinicius de Moraes Pacheco</h5>
                        <p class="me-3 mb-1 small">Cloud Archtect | DevOps and Application Developer</p>
                        <p class="small">University Professor and Executive Director </p>
                    </div>
                    <div class="">
                        <i class="fs-4 me-1 fa-brands fa-linkedin"></i>
                        <i class="fs-4 me-1 fa-brands fa-square-facebook"></i>
                        <i class="fs-4 me-1 fa-brands fa-instagram"></i>
                        <i class="fs-4 me-1 fa-brands fa-square-x-twitter"></i>
                        <i class="fs-4 me-1 fa-brands fa-stack-overflow"></i>
                        <i class="fs-4 me-1 fa-brands fa-github"></i>
                        <i class="fs-4 me-1 fa-brands fa-xing"></i>
                        <i class="fs-4 me-1 fa-brands fa-youtube"></i>
                    </div>
                    <div class="pt-3">
                        <p class="m-0 fs-6"><strong>Associate's degree in Software Egineering:</strong> Faculdade de Tecnologia de São Paulo - FATEC-SP</p>
                        <p class="m-0 fs-6"><strong>Technical's degree in Software Development:</strong> Escola Técnica de São Paulo - ETEC-SP</p>
                        <p class="m-0 fs-6"><strong>Technical's degree in Accounting and Economy:</strong> Escola Técnica de São Paulo - ETEC-SP</p>
                        <p class="m-0 fs-6"><strong>Professional degree in Electrical and Electronics Engineering:</strong> Serviço Nacional de Aprendizagem Industrial</p>
                    </div>
                </div>
            </div>