<h1 class="fs-1">Título do post para ser mostrado</h1>
<h2 class="fs-4 fw-light mb-md-0 mb-3">Algum subtitulo que sirva para preencher espaços em branco</h2>
<div class="d-block d-md-none">
    <h3 class="fs-5">Shared this post</h3>
    <div class="flex-row justify-content-start mb-3">
        <i style="font-size: 26pt;" class="me-3 fa-brands fa-linkedin"></i>
        <i style="font-size: 26pt;" class="me-3 fa-brands fa-square-facebook"></i>
        <i style="font-size: 26pt;" class="me-3 fa-brands fa-instagram"></i>
        <i style="font-size: 26pt;" class="me-3 fa-brands fa-square-x-twitter"></i>
        <i style="font-size: 26pt;" class="me-3 fa-brands fa-whatsapp"></i>
    </div>
</div>