<article class="container">
    <div class="row">
        <div class="col-md-9">
            <post-path></post-path>
            <post-info-header></post-info-header>
            <hr>
            <post-abstract></post-abstract>
            <post-authors-resume></post-authors-resume>
            <post-references></post-references>
            <post-relateds></post-relateds>

        </div>
        <div class="col-md-3 border-start">
            <post-information></post-information>
            <hr>
            <div class="mb-4">
                <post-files></post-files>
            </div>
            <div>
                <post-advertisement></post-advertisement>
            </div>
        </div>
    </div>
</article>
<hr>