<h6>Download Files</h6>
<a href="#" class="me-1 mb-1 btn btn-outline-danger btn-sm rounded-0"><i class="fa-regular fa-file-pdf"></i> PDF</a>
<a href="#" class="me-1 mb-1 btn btn-outline-danger btn-sm rounded-0"><i class="fa-regular fa-file-pdf"></i> PDF (English)</a>
<a href="#" class="me-1 mb-1 btn btn-outline-primary btn-sm rounded-0"><i class="fa-regular fa-file-code"></i> HTML</a>
<a href="#" class="me-1 mb-1 btn btn-outline-primary btn-sm rounded-0"><i class="fa-regular fa-file-code"></i> HTML (English)</a>