<div>
    <h3>{{comments.length}} comments</h3>
    <div *ngFor="let comment of comments">
        <!-- Comment level 1-->
        <div class="my-4 d-flex">
            <img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/01.jpg" alt="avatar">
            <div>
                <div class="mb-2">
                    <h5 class="m-0">{{comment.author}}</h5>
                    <span class="me-3 small">{{comment.dateTime}}</span>
                    <a href="#" class="text-body fw-normal">Reply</a>
                </div>
                <p>{{comment.body}}</p>
                <div>
                    <form class="row g-3">
                        <div class="col-12 d-flex justify-content-end">
                            <textarea class="form-control me-2" rows="1" placeholder="Response comment"></textarea>
                            <button type="submit" class="btn btn-sm btn-dark"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngFor="let replica of comment.replicas">
            <!-- Comment children level 2 -->
            <div class="my-4 d-flex ps-2 ps-md-4">
                <img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/02.jpg" alt="avatar">
                <div>
                    <div class="mb-2">
                        <h5 class="m-0">{{replica.author}}</h5>
                        <span class="me-3 small">{{replica.dateTime}}</span>
                        <a href="#" class="text-body fw-normal">Reply</a>
                    </div>
                    <p>{{replica.body}}</p>
                    <div>
                        <form class="row g-3">
                            <div class="col-12 d-flex justify-content-end">
                                <textarea class="form-control me-2" rows="1" placeholder="Reply response"></textarea>
                                <button type="submit" class="btn btn-sm btn-dark"><i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngFor="let treplica of replica.treplicas">
                <!-- Comment children level 3 -->
                <div class="my-2 d-flex ps-3 ps-md-5">
                    <img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/01.jpg" alt="avatar">
                    <div>
                        <div class="mb-2">
                            <h5 class="m-0">{{treplica.author}}</h5>
                            <span class="me-3 small">{{treplica.dateTime}}</span>
                            <a href="#" class="text-body fw-normal">Reply</a>
                        </div>
                        <p>{{treplica.body}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>