<h1 class="h3 mb-3 fw-normal">Sign with another account</h1>
<div class="d-grid gap-2 mt-2">
    <button class="btn btn-dark" type="button"><i class="fa-brands fa-github"></i> Sign up using Github</button>
    <button class="btn btn-danger" type="button"><i class="fa-brands fa-google"></i> Sign up using Google</button>
    <button class="btn btn-primary" type="button"><i class="fa-brands fa-facebook-f"></i> Sign up using Facebook</button>
    <button class="btn btn-secondary" type="button"><i class="fa-brands fa-stack-overflow"></i> Sign up using Stackoverflow</button>
</div>