<div class="pt-md-5">
  <div class="d-none d-md-block">
      <h6>Shared this post</h6>
      <div class="flex-row justify-content-start mb-3">
          <i class="fs-2 me-2 fa-brands fa-linkedin"></i>
          <i class="fs-2 me-2 fa-brands fa-square-facebook"></i>
          <i class="fs-2 me-2 fa-brands fa-instagram"></i>
          <i class="fs-2 me-2 fa-brands fa-square-x-twitter"></i>
          <i class="fs-2 me-2 fa-brands fa-whatsapp"></i>
      </div>
  </div>
  <h3 class="fs-6">Published at</h3>
  <p class="mb-3">20/02/2029</p>
  <h3 class="fs-6">Edition</h3>
  <p class="mb-3">3rd edition</p>
  <h3 class="fs-6">Section</h3>
  <p class="mb-3">Archtectural Migration and Integration</p>
  <h3 class="fs-6">Location</h3>
  <p class="mb-3">São Paulo, SP - Brazil</p>
</div>