<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <button type="button" class="btn btn-dark btn-sm position-relative">
            Top Trends
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              99+
              <span class="visually-hidden">unread messages</span>
            </span>
        </button>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">Wed, March 31, 2022  13 °C NY, USA</li>
      </ul>
    </header>
</div>